<div class="row"></div>
  <div class="col s12 m8">
    <h3>{{backpack.bg_name}}
      {{!-- <small>{{{editIcon backpack.user user backpack.id false}}}</small> --}}
    </h3>
    <div class="card story">
      <div class="card-content">
        <p class="showImage"><img src="{{backpack.bg_image}}" alt="{{backpack.bg_name}}" style="width: 90px; height: 100px;" /></p>
        <p><strong>PRICE:</strong> ${{backpack.bg_price}}</p>
        <p><strong>SERIES/COLLECTION:</strong> {{backpack.bg_series}}</p>
        <p><strong>LINK:</strong> <a href="{{backpack.bg_link}}">View the Bag</a></p>
        <p><strong>FROM:</strong> {{backpack.bg_fromSite}}</p>
        <p>{{backpack.createdAt}}</p>
        <p><strong>DATE ADDED:</strong> {{formatDate date 'MMMM Do YYYY, h:mm:ss a'}}</p>
      </div>
    </div>
  </div>
  {{!-- Below is to display the google account avatar in the show.hbs --}}
  {{!-- <div class="col s12 m4">
    <div class="card center-align">
      <div class="card-content">
        <span class="card-title">{{backpack.user.displayName}}</span>
        <img src="{{backpack.user.image}}" class="circle responsive-img img-small">
      </div>
      <div class="card-action">
        <a href="/backpacks/user/{{backpack.user._id}}">More From {{backpack.user.firstName}}</a>
      </div>
    </div>
  </div> --}}
</div>